.icon {
    font-size: 1.3em;
}

.container.first {
    margin-top: 5.0em;
}

.featured {
    width: 100%;
}

.featured.listing {
    max-height: 350px;
    object-fit: cover;
}

.spacer {
    margin-top: 1.5em;
}

.content {
    white-space: pre-wrap;
}

.header a {
    color: rgba(0,0,0,.87);
}

.header a:hover {
    color: teal;
}

.inline {
    display: inline;
}

.footer {
  margin: 0em;
  border-radius: 0em;
  padding: 4em 0em 4em 0em;
}